<!DOCTYPE html>
<html lang="en">
<head>
  <title>服务器错误 - {{$config.name}}</title>
  <t-include file="../include/assets.html"/>
  <style type="text/css">
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  pre {
    margin: 0;
  }

  .message {
    font-size: 1.5em;
    line-height: 1.5;
    background-color: #fefdf6;
    padding: 10px;
    border-radius: 8px;
  }
  </style>
</head>
<body>
<div class="container">
  <t-include file="../include/header.html"/>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">服务器错误</li>
    </ol>
  </nav>
  <h3>Error:</h3>
  <div class="message">
    <pre>{{message}}</pre>
  </div>
</div>
</body>
</html>
