<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{$config.name}}</title>
  <t-include file="../include/assets.html"/>
</head>
<body>
<div class="container">
  <t-include file="../include/header.html"/>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">帮助</li>
    </ol>
  </nav>
  <h3>WEB 勾子地址</h3>
  <p>
    <code>
      <span id="host"></span>
    </code>
    <div class="text-muted">在仓库的web hook页面填写以上地址</div>
  </p>

  <h3>仓库配置</h3>
  <p>
    <a href="{{$pages.repository}}#readme">去源码仓库查看</a>
  </p>

  <h3>关于 git-pages</h3>
  <ul>
    <li>版本: {{$pages.version}}</li>
    <li>作者: {{typeof $pages.author === 'string' ? $pages.author: `${$pages.author.name}<${$pages.author.email}>`}}</li>
    <li>源码: {{$pages.repository}}</li>
  </ul>
  <h3>关于 wet</h3>
  <ul>
    <li>版本: {{$engine.version}}</li>
    <li>作者: {{$engine.author}}</li>
    <li>源码: {{$engine.repository}}</li>
  </ul>
  <h3>第三方依赖</h3>
  <ul>
    <li>
      <a href="https://getbootstrap.com/" target="_blank">Bootstrap 4.5</a>
    </li>
    <li>
      <a href="https://fontawesome.com/" target="_blank">Font Awesome 5</a>
    </li>
    <li>
      <a href="https://highlightjs.org/" target="_blank">highlightjs</a>
    </li>
    <li>
      <a href="https://jquery.com/" target="_blank">jQuery 3</a>
    </li>
    <li>
      <a href="https://github.com/hyjiacan/md0.js" target="_blank">md0</a>
    </li>
    <li>
      <a href="https://github.com/hustcc/timeago.js" target="_blank">timeago.js</a>
    </li>
  </ul>
  <t-include file="../include/footer.html"/>
</div>
<script>
document.querySelector('#host').innerHTML = window.location.origin + '/hook/'
</script>
</body>
</html>
