<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{userName}}/{{projectName}} - {{$config.name}}</title>
  <t-include file="include/assets.html"/>
  <script src="/static/lib/timeago.js"></script>
  <script src="/static/lib/highlightjs/highlight.pack.js"></script>
  <script src="/static/lib/md0/md0.js"></script>
  <link href="/static/lib/md0/md0.css" rel="stylesheet">
  <style>
  #catalog {
    font-size: small;
    border-left: 1px dotted #5f6371;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #catalog ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-left: 1px dotted transparent;
  }

  #catalog ul:hover {
    border-left-color: #5f6371;
  }

  #catalog li {
    padding: 5px 5px 5px 20px;
  }

  .fa-folder, .fa-markdown {
    color: rgba(95, 99, 113, 0.54);
  }

  .item-content:hover .fa-folder,
  .item-content:hover .fa-markdown {
    color: rgb(67, 73, 92);
  }
  </style>
</head>
<body>
<div class="{{isReadme ? 'container' : 'container'}}">
  <t-include file="include/header.html"/>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li class="breadcrumb-item">
        <a href="/projects/">项目</a>
      </li>
      <li class="breadcrumb-item">
        <a href="/projects/{{userName}}/">{{userName}}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{projectName}}</li>
      <li class="pl-4">
        <span class="badge badge-info">最后更新于
          <span datetime="{{$project.repository.updated_at}}"></span>
        </span>
      </li>
    </ol>
  </nav>
  <div class="mb-2 bg-light p-2">
    <div class="float-left">
      <i class="fa fa-book-open"></i>
      <span>{{$project.repository.description}}</span>
    </div>
    <div class="float-right">
      <a href="{{editUrl}}" target="_blank" class="mr-4">
        <i class="fa fa-edit"></i>
        <span>编辑</span>
      </a>
      <a href="/raw/{{userName}}/{{projectName}}/{{decodeURIComponent(file)}}" target="_blank">
        <i class="fa fa-download"></i>
        <span>下载</span>
      </a>
    </div>
    <span class="clearfix"></span>
  </div>
  <div class="row">
    <t-if on="!isReadme">
      <div class="col-3 overflow-auto p-2 pl-3">
        <ul id="catalog">
          <t-tree on="catalog as item">
            <li>
              <div class="item-content d-inline-block">
                <t-if on="item.type === 'dir'">
                  <i class="fa fa-folder"></i>
                  <span class="text-wrap">{{item.name}}</span>
                </t-if>
                <t-else>
                  <i class="fab fa-markdown"></i>
                  <a href="/projects/{{userName}}/{{projectName}}/{{item.file}}" class="text-wrap">
                    {{item.name}}
                  </a>
                </t-else>
              </div>
              <t-if on="item.children">
                <ul>
                  <t-children/>
                </ul>
              </t-if>
            </li>
          </t-tree>
        </ul>
      </div>
    </t-if>
    <div id="content" class="col"></div>
  </div>
  <t-include file="./include/footer.html"/>
</div>
<a class="btn btn-dark position-fixed text-light" href="#" style="right: 20px;bottom: 60px;">
  <i class="fa fa-arrow-up"></i>
</a>
<script type="text/javascript">
$(function () {
  $.get('/raw/{{userName}}/{{projectName}}/{{file}}').then(function (content) {
    var html = md0(content, {
      codeHeader: false,
      // codeIndex: false,
      useHljs: true
    })
    $('#content').html(html)
  }).catch(e => {
    $('#content').html(`<div class="err">File <b>{{file}}</b> ${e.statusText}</div>`)
  })
})
</script>
</body>
</html>
