#content h1:not(:first-child),
#content h2:not(:first-child),
#content h3:not(:first-child) {
    margin-top: 40px;
    margin-bottom: 10px;
}

.is-markdown pre {
    padding: 10px;
    background-color: #fbfae5;
    word-break: break-all;
    white-space: pre-wrap;
}

.is-markdown pre code {
}

.is-markdown code {

}

#content table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #c1c1c1;
    margin-bottom: 10px;
}

#content table th p:last-child,
#content table td p:last-child
{
    margin-bottom: 0;
}

#content table th,
#content table td {
    border: 1px solid #c1c1c1;
    padding: 5px;
}

#content blockquote {
    padding: 10px 5px;
    border-left: 4px solid #c0c0c0;
    color: #555555;
    background-color: #fafafa;
}

#content blockquote p:last-child {
    margin-bottom: 0;
}
