.is-markdown h1:not(:first-child),
.is-markdown h2:not(:first-child),
.is-markdown h3:not(:first-child) {
    margin-top: 40px;
    margin-bottom: 10px;
}

.is-markdown pre {
    padding: 10px;
    background-color: #fbfae5;
    word-break: break-all;
    white-space: pre-wrap;
}

.is-markdown pre code {
}

.is-markdown code {

}

.is-markdown table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e9e8e8;
    margin-bottom: 10px;
}

.is-markdown table th,
.is-markdown table td {
    border: 1px solid #e9e8e8;
    padding: 5px;
}

.is-markdown blockquote {
    padding: 10px 5px;
    border-left: 4px solid #c0c0c0;
    color: #555555;
    background-color: #fafafa;
}

.is-markdown blockquote p:last-child {
    margin-bottom: 0;
}
