<hr class="clearfix">
<footer class="text-center">
  <span>Powered by</span>
  <a href="{{$tpl.repository}}" title="{{$tpl.description}}"
     target="_blank">{{$tpl.name}}@{{$tpl.version}}</a>
  <span>|</span>
  <a href="{{$engine.repository}}" title="{{$engine.description}}"
     target="_blank">{{$engine.name}}@{{$engine.version}}</a>
  <span>|</span>
  <span>Template: @{timestamp}@ ms</span>
</footer>

<script>
$(function () {
  if (timeago) {
    var items = document.querySelectorAll('span[datetime]')
    items.forEach(function (node) {
      node.title = node.getAttribute('datetime')
    })
    timeago.render(items, 'zh_CN')
  }
})
</script>
