<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{userName}}/{{projectName}}</title>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.10/highlight.min.js"></script>
  <link href="https://cdn.bootcss.com/highlight.js/9.15.10/styles/default.min.css" rel="stylesheet">
  <!--  <script src="https://cdn.jsdelivr.net/npm/md0/dist/md0.js"></script>-->
  <!--  <link href="https://cdn.jsdelivr.net/npm/md0/dist/md0.css" rel="stylesheet">-->
  <link href="/static/md0/md0.css" rel="stylesheet">
  <script src="/static/md0/md0.js"></script>
</head>
<body>
<ul id="catalog">
  <t-tree on="catalog as item">
    <li>
      <div>
        <a href="/projects/{{userName}}/{{projectName}}/{{item.file}}">{{item.name}}</a>
      </div>
      <t-if on="item.children">
        <ul>
          <t-children/>
        </ul>
      </t-if>
    </li>
  </t-tree>
</ul>
<div id="content"></div>
<script type="text/javascript">
$.get('/raw/{{userName}}/{{projectName}}/{{file}}').then(function (content) {
  var html = md0(content, {
    useHljs: true
  })
  $('#content').html(html)
})
</script>
</body>
</html>
