<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{userName}}/{{projectName}}</title>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/md0/dist/md0.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/md0/dist/md0.css" rel="stylesheet">
  <style type="text/css">
  #catalog {
  }
  </style>
</head>
<body>
<ul id="catalog">
  <t-tree on="catalog as item">
    <li>
      <div>
        <t-if on="item.type === 'dir'">
          <span>[DIR] {{item.name}}</span>
        </t-if>
        <t-else>
          <a href="/projects/{{userName}}/{{projectName}}/{{item.file}}">{{item.name}}</a>
        </t-else>
      </div>
      <t-if on="item.children">
        <ul>
          <t-children/>
        </ul>
      </t-if>
    </li>
  </t-tree>
</ul>
<div id="content"></div>
<script type="text/javascript">
$(function () {
  $.get('/raw/{{userName}}/{{projectName}}/{{file}}').then(function (content) {
    var html = md0(content, {
      codeHeader: false,
      // codeIndex: false,
      useHljs: false
    })
    $('#content').html(html)
  })
})
</script>
</body>
</html>
